apiVersion: apps/v1
kind: Deployment
metadata:
  name: poc-demo-app
  labels:
    app: poc-demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: poc-demo-app
  template:
    metadata:
      labels:
        app: poc-demo-app
    spec:
      containers:
        - name: demo-app
          image: nginx:1.25-alpine
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: poc-demo-app-config
          env:
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: poc-db-credentials
                  key: password
          resources:
            requests:
              memory: 64Mi
              cpu: 50m
            limits:
              memory: 128Mi
              cpu: 100m
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
