apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: lhw-openproject-prod

resources:
- ../../base

labels:
- pairs:
    environment: production

patches:

# PostgreSQL Database Storage
- patch: |-
    - op: replace
      path: /spec/volume/storageClass
      value: gp2
  target:
    kind: postgresql
    name: lhw-openproject-database

# Backup PVC StorageClass + Size
- patch: |-
    - op: add
      path: /spec/storageClassName
      value: gp2
    - op: replace
      path: /spec/resources/requests/storage
      value: 2Gi
  target:
    kind: PersistentVolumeClaim
    name: lhw-openproject-postgres-backup

- patch: |-
    - op: replace
      path: /spec/jobTemplate/spec/template/spec/containers/0/env/3/value
      value: "14"
  target:
    kind: CronJob
    name: lhw-openproject-postgres-backup
